[View in Colaboratory](https://colab.research.google.com/github/sampleground/assignment0/blob/master/answers.ipynb)

In [0]:
# Question 1

In [0]:
import pandas as pd

In [0]:
url = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2017-10.csv"

In [0]:
nyc_taxi = pd.read_csv(url)

In [0]:
#Just check

In [46]:
len(nyc_taxi)

9768815

In [0]:
# Question 2

In [0]:
# Q2 - Display the first 5 rows

In [14]:
nyc_taxi.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2017-10-01 00:01:50,2017-10-01 00:14:13,1,2.00,1,N,142,233,2,10.0,0.5,0.5,0.00,0.0,0.3,11.30
1,1,2017-10-01 00:02:43,2017-10-01 00:08:35,2,2.30,1,N,142,166,1,8.0,0.5,0.5,1.85,0.0,0.3,11.15
2,1,2017-10-01 00:12:08,2017-10-01 00:25:49,3,2.80,1,N,151,262,1,13.0,0.5,0.5,1.72,0.0,0.3,16.02
3,2,2017-10-01 00:00:25,2017-10-01 00:11:24,1,1.97,1,N,100,229,1,9.5,0.5,0.5,1.00,0.0,0.3,11.80
4,2,2017-10-01 00:15:30,2017-10-01 00:25:11,1,2.17,1,N,141,142,1,9.0,0.5,0.5,2.06,0.0,0.3,12.36

In [0]:
# Q2 - A statistical summary

In [13]:
nyc_taxi.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06,9.768815e+06
mean,1.549415e+00,1.617468e+00,2.964095e+00,1.045011e+00,1.630937e+02,1.612835e+02,1.328251e+00,1.338078e+01,3.300792e-01,4.972671e-01,1.883138e+00,3.479925e-01,2.996095e-01,1.674133e+01
std,4.975522e-01,1.259104e+00,3.814063e+00,4.748632e-01,6.624797e+01,7.015271e+01,4.901289e-01,3.078552e+02,4.644125e-01,1.177005e-01,2.634506e+00,1.696558e+00,1.438805e-02,3.079748e+02
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.600000e+02,-5.800000e+01,-5.000000e-01,-4.100000e+01,-1.500000e+01,-3.000000e-01,-4.603000e+02
25%,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.140000e+02,1.120000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.760000e+00
50%,2.000000e+00,1.000000e+00,1.650000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.360000e+00,0.000000e+00,3.000000e-01,1.225000e+01
75%,2.000000e+00,2.000000e+00,3.070000e+00,1.000000e+00,2.330000e+02,2.330000e+02,2.000000e+00,1.500000e+01,5.000000e-01,5.000000e-01,2.460000e+00,0.000000e+00,3.000000e-01,1.830000e+01
max,2.000000e+00,9.000000e+00,1.178600e+03,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,8.616024e+05,9.600000e+01,2.500000e+02,4.445000e+02,9.296500e+02,1.000000e+00,8.616032e+05

In [0]:
#Just check

In [9]:
type(nyc_taxi)

pandas.core.frame.DataFrame

In [0]:
# Q2- dtypes of the coulmuns

In [15]:
nyc_taxi.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [0]:
# Question 3

In [0]:
# Question 3
# I checked the "trip_distance" and "fare_amount" columns if there any inconsistency values exists or not.
# To find this inconsistency, I checked the zero values in "trip_distance", "fare_amount" columns. 
# If taxi goes in any distance then the fare does not be zero. 
# And as well If taxi does not go any distance then the fare does not get any value different than zero.

In [48]:
nyc_taxi_new = nyc_taxi.loc[~( ( ( nyc_taxi['trip_distance'] == 0 ) & ( nyc_taxi['fare_amount'] > 0 ) ) | ( ( nyc_taxi['trip_distance'] > 0 ) & ( nyc_taxi['fare_amount'] == 0 ) ) ) ]
nyc_taxi_new

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2017-10-01 00:01:50,2017-10-01 00:14:13,1,2.00,1,N,142,233,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
1,1,2017-10-01 00:02:43,2017-10-01 00:08:35,2,2.30,1,N,142,166,1,8.0,0.5,0.5,1.85,0.00,0.3,11.15
2,1,2017-10-01 00:12:08,2017-10-01 00:25:49,3,2.80,1,N,151,262,1,13.0,0.5,0.5,1.72,0.00,0.3,16.02
3,2,2017-10-01 00:00:25,2017-10-01 00:11:24,1,1.97,1,N,100,229,1,9.5,0.5,0.5,1.00,0.00,0.3,11.80
4,2,2017-10-01 00:15:30,2017-10-01 00:25:11,1,2.17,1,N,141,142,1,9.0,0.5,0.5,2.06,0.00,0.3,12.36
5,1,2017-10-01 00:27:42,2017-10-01 00:35:36,1,0.50,1,N,68,158,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
6,1,2017-10-01 00:39:19,2017-10-01 00:50:09,1,1.50,1,N,158,100,1,8.5,0.5,0.5,1.95,0.00,0.3,11.75
7,1,2017-10-01 00:53:25,2017-10-01 01:10:02,1,5.30,1,N,230,88,2,17.0,0.5,0.5,0.00,0.00,0.3,18.30
8,1,2017-10-01 00:03:22,2017-10-01 00:27:15,1,3.00,1,N,107,143,1,16.5,0.5,0.5,3.55,0.00,0.3,21.35
9,1,2017-10-01 00:57:24,2017-10-01 01:14:42,1,3.90,1,N,107,262,1,15.0,0.5,0.5,3.26,0.00,0.3,19.56
10,2,2017-10-01 00:12:30,2017-10-01 00:36:25,1,2.41,1,N,107,50,1,15.0,0.5,0.5,0.00,0.00,0.3,16.30
11,2,2017-10-01 00:45:07,2017-10-01 01:04:48,1,2.81,1,N,230,79,2,13.5,0.5,0.5,0.00,0.00,0.3,14.80
12,1,2017-10-01 00:03:13,2017-10-01 00:12:27,1,1.10,1,N,237,141,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80
13,1,2017-10-01 00:21:18,2017-10-01 00:29:37,1,1.60,1,N,233,234,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
14,1,2017-10-01 00:33:12,2017-10-01 00:35:04,2,0.30,1,N,234,90,1,3.5,0.5,0.5,2.20,0.00,0.3,7.00
15,1,2017-10-01 00:45:50,2017-10-01 00:50:13,1,0.80,1,N,249,68,1,5.0,0.5,0.5,1.25,0.00,0.3,7.55
16,1,2017-10-01 00:15:32,2017-10-01 00:24:28,3,0.50,1,N,158,68,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
17,1,2017-10-01 00:26:20,2017-10-01 00:30:07,1,0.60,1,N,68,234,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
18,1,2017-10-01 00:56:51,2017-10-01 01:01:06,2,0.40,1,N,148,79,1,4.5,0.5,0.5,1.15,0.00,0.3,6.95
19,1,2017-10-01 00:08:07,2017-10-01 00:10:59,3,0.70,1,N,230,163,1,4.5,0.5,0.5,3.00,0.00,0.3,8.80
20,1,2017-10-01 00:13:37,2017-10-01 00:17:38,4,0.70,1,N,163,230,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30
21,1,2017-10-01 00:30:34,2017-10-01 00:44:36,1,3.00,1,N,48,151,1,13.0,0.5,0.5,2.00,0.00,0.3,16.30
22,1,2017-10-01 00:47:50,2017-10-01 00:53:45,1,1.00,1,N,238,239,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80
23,2,2017-10-01 00:08:37,2017-10-01 00:17:48,1,1.60,1,N,79,164,1,8.0,0.5,0.5,1.00,0.00,0.3,10.30
24,2,2017-10-01 00:18:48,2017-10-01 00:29:54,1,1.74,1,N,164,249,1,9.0,0.5,0.5,2.06,0.00,0.3,12.36
25,1,2017-10-01 00:44:55,2017-10-01 00:49:50,1,1.10,1,N,106,97,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30
26,2,2017-10-01 00:03:40,2017-10-01 00:13:56,1,2.41,1,N,238,116,2,10.5,0.5,0.5,0.00,0.00,0.3,11.80
27,2,2017-10-01 00:27:30,2017-10-01 00:44:52,1,4.96,1,N,238,107,1,17.0,0.5,0.5,3.66,0.00,0.3,21.96
28,2,2017-10-01 00:53:29,2017-10-01 00:55:57,1,0.58,1,N,233,162,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30
29,1,2017-10-01 00:27:43,2017-10-01 00:29:55,1,0.30,1,N,163,163,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9768785,2,2017-10-31 23:52:06,2017-10-31 23:55:01,1,0.90,1,N,106,181,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30
9768786,2,2017-10-31 23:34:48,2017-10-31 23:40:15,1,1.49,1,N,162,107,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80
9768787,2,2017-10-31 23:55:48,2017-11-01 00:14:19,1,8.71,1,N,148,7,1,26.5,0.5,0.5,5.56,0.00,0.3,33.36
9768788,1,2017-10-31 23:09:49,2017-10-31 23:20:41,1,0.70,1,N,114,79,2,8.0,0.5,0.5,0.00,0.00,0.3,9.30
9768789,2,2017-10-31 23:25:51,2017-10-31 23:53:53,2,5.13,1,N,231,48,1,21.0,0.5,0.5,4.46,0.00,0.3,26.76
9768790,2,2017-10-31 23:02:05,2017-10-31 23:06:57,4,1.33,1,N,237,263,1,6.0,0.5,0.5,0.00,0.00,0.3,7.30
9768791,2,2017-10-31 23:13:50,2017-10-31 23:23:38,4,2.95,1,N,236,237,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
9768792,2,2017-10-31 23:24:30,2017-10-31 23:34:18,4,2.86,1,N,237,74,1,10.5,0.5,0.5,4.20,0.00,0.3,16.00
9768793,1,2017-10-31 23:04:58,2017-10-31 23:25:51,1,3.60,1,N,170,238,1,16.0,0.5,0.5,3.45,0.00,0.3,20.75
9768794,1,2017-10-31 23:27:02,2017-10-31 23:40:41,1,4.50,1,N,238,244,1,15.5,0.5,0.5,2.00,0.00,0.3,18.80
9768795,2,2017-10-31 23:22:02,2017-10-31 23:24:17,3,0.51,1,N,107,224,1,4.0,0.5,0.5,1.06,0.00,0.3,6.36
9768796,2,2017-10-31 23:30:44,2017-10-31 23:37:19,3,0.70,1,N,79,232,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30
9768797,2,2017-10-31 23:42:09,2017-11-01 00:03:21,3,1.14,1,N,144,113,1,13.5,0.5,0.5,1.00,0.00,0.3,15.80
9768798,2,2017-10-31 23:24:33,2017-11-01 00:00:33,1,6.67,1,N,114,37,2,28.0,0.5,0.5,0.00,0.00,0.3,29.30
9768799,2,2017-10-31 23:08:16,2017-10-31 23:09:22,1,0.02,1,N,230,161,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30
9768800,2,2017-10-31 23:38:37,2017-10-31 23:51:28,1,1.65,1,N,161,113,1,10.0,0.5,0.5,2.26,0.00,0.3,13.56
9768801,2,2017-10-31 22:58:44,2017-10-31 23:13:44,1,0.63,1,N,113,107,1,10.0,0.5,0.5,2.26,0.00,0.3,13.56
9768802,2,2017-10-31 23:19:32,2017-10-31 23:32:46,1,1.41,1,N,107,68,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
9768803,2,2017-10-31 23:39:09,2017-10-31 23:42:29,1,0.51,1,N,186,100,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30
9768804,1,2017-10-31 23:39:30,2017-10-31 23:48:19,1,1.50,1,N,234,162,1,8.0,0.5,0.5,1.85,0.00,0.3,11.15
9768805,2,2017-10-31 23:47:31,2017-11-01 00:05:23,2,5.50,1,N,238,7,1,19.0,0.5,0.5,4.50,0.00,0.3,24.80
9768806,1,2017-10-31 23:12:40,2017-10-31 23:19:16,4,1.10,1,N,90,100,1,6.5,0.0,0.5,1.45,0.00,0.3,8.75
9768807,1,2017-10-31 23:25:41,2017-10-31 23:46:06,4,3.10,1,N,161,144,1,14.5,0.0,0.5,3.80,0.00,0.3,19.10
9768808,2,2017-10-31 23:00:35,2017-10-31 23:25:07,1,3.50,1,N,158,158,1,17.0,0.5,0.5,0.50,0.00,0.3,18.80
9768809,2,2017-10-31 23:31:06,2017-10-31 23:40:59,1,1.68,1,N,249,231,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
9768810,2,2017-10-31 23:05:37,2017-10-31 23:14:07,1,4.67,1,N,13,257,1,14.5,0.5,0.5,3.50,5.76,0.3,25.06
9768811,2,2017-10-31 23:45:12,2017-10-31 23:50:51,1,1.54,1,N,181,33,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
9768812,1,2017-10-31 23:33:17,2017-11-01 00:02:51,2,6.20,1,N,100,255,1,24.0,0.5,0.5,2.00,0.00,0.3,27.30
9768813,2,2017-10-31 23:25:32,2017-10-31 23:31:22,1,0.82,1,N,264,264,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
9768814,2,2017-10-31 23:34:55,2017-11-01 00:16:14,1,5.52,1,N,264,264,1,27.5,0.5,0.5,5.76,0.00,0.3,34.56

In [47]:
9768815 - 64300

9704515